<h1> HERE IS OUR PRETTY NON DYNAMIC BOARD</h1>

<pre> <%= @board %> </pre>

<a href='/ship/new'>PLACE ANOTHER SHIP</a>
<br>
<a href='/shots/new'>IF YOU HAVE PLACED ALL YOUR SHIPS, CLICK TO TAKE A SHOT</a>